<footer style="max-height:10px padding: 5px; text-align: center; margin-top:20px;">
    <p style="color: #007bff; font-size: 14px; margin-bottom: 5px;">© 2024 YourWebsite. All rights reserved.</p>
    <p style="font-size: 12px;">Designed by Marcos Alvarez and Ana.P</p>
</footer>