<div class="form-check form-check-inline">
  <img
    src="/img/icons/Crafts.png"
    alt="Crafts icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Crafts"
  />
  <label class="form-check-label">Crafts</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Cooking.png"
    alt="Cooking icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Cooking"
  />
  <label class="form-check-label">Cooking</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Gardening and Horticulture.png"
    alt="Gardening and Horticulture icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Gardening and Horticulture"
  />
  <label class="form-check-label">Gardening and Horticulture</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Everyday Life Skills.png"
    alt="Everyday Life Skills icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Everyday Life Skills"
  />
  <label class="form-check-label">Everyday Life Skills</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Music.png"
    alt="Music icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Music"
  />
  <label class="form-check-label">Music</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Sports.png"
    alt="Sports icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Sports"
  />
  <label class="form-check-label">Sports</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Technology.png"
    alt="Technology icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Technology"
  />
  <label class="form-check-label">Technology</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Languages and Culture.png"
    alt="Languages and Culture icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Languages and Culture"
  />
  <label class="form-check-label">Languages and Culture</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/Others.png"
    alt="Others icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="Others"
  />
  <label class="form-check-label">Others</label>
</div>