<div class="form-check form-check-inline">
  <img
    src="/img/icons/crafts.png"
    alt="crafts icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="crafts"
  />
  <label class="form-check-label">crafts</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/cooking.png"
    alt="cooking icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="cooking"
  />
  <label class="form-check-label">cooking</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/gardening and horticulture.png"
    alt="gardening and horticulture icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="gardening and horticulture"
  />
  <label class="form-check-label">gardening and horticulture</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/everyday life skills.png"
    alt="everyday life skills icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="everyday life skills"
  />
  <label class="form-check-label">everyday life skills</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/music.png"
    alt="music icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="music"
  />
  <label class="form-check-label">music</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/sports.png"
    alt="sports icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="sports"
  />
  <label class="form-check-label">sports</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/technology.png"
    alt="technology icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="technology"
  />
  <label class="form-check-label">technology</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/languages and culture.png"
    alt="languages and culture icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="languages and culture"
  />
  <label class="form-check-label">languages and culture</label>
</div>
<div class="form-check form-check-inline">
  <img
    src="/img/icons/others.png"
    alt="others icon"
    style="width: 20px; height: 20px;"
  />
  <input
    class="form-check-input"
    name="interests"
    type="checkbox"
    value="others"
  />
  <label class="form-check-label">others</label>
</div>