<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary ">
  <div class="container pl-2">
    <div class="left-nav row  ">
      <div class="logo col ml-3 p-0">
        <a class="navbar-brand" href="/">
          <img id="img-logo" src="/img/logo3.png" alt="Logo"
            style="margin-top:7px;width: 40px; height: auto; border-radius: 20px">
        </a>
      </div>
      {{#if currentUser}}
      <div class="user flex-start col p-0 ">

        <a class="navbar-user  m-0" href="/profile/{{currentUser.id}}">
          <img id="img-logo" src="https://i.pravatar.cc/150?u={{currentUser.email}}" alt="Logo" style="width: 
          40px; height: auto; padding:0; border-radius: 10px; hover:height: 20px;">



          <p class="m-3">{{currentUser.username}}</p>
        </a>

        {{/if}}
      </div>

    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-3"  id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#unless currentUser}}
        <li class="nav-item">

          <button type="button" class="btn btn-warning dropdown-toggle" style="color: rgb(255, 255, 255);"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Login
          </button>
          <div class="dropdown " >
            <form method="post" action="/login" class="dropdown-menu p-2" >
              <div style="background-color: rgb(83, 95, 91);">
                <label for="" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="email@example.com">
              </div>
              <div>
                <label for="" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
              <div class="mb-3">
                <div class="form-check"></div>
              </div>
              <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>

            </form>
          </div>
        </li>
        <li class="nav-item">
          <a id="button-register" href="/register" type="button" class="btn btn-warning"
            style="color: white;">Register</a>
        </li>
        {{/unless}}

        {{#if currentUser}}
        <li class="nav-item">
          <a class="nav-link active" style="color: white;  border-radius:10px;" aria-current="page" href="/search">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white;  border-radius:10px;" aria-current="page" href="/petitions/show">Petitions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white;  border-radius:10px;" aria-current="page" href="/profile/me">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white;  border-radius:10px;" aria-current="page" href="/logout/{{currentUser.id}}">Log
            out</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>