<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h2 class="navbar-brand">conXchange</h2>
    <p>{{currentUser.username}}</p>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {{#unless currentUser}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>  
        <li class="nav-item"> 
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        {{/unless}}
        
        {{#if currentUser}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/search">Search skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile/me">Profile</a>
        </li>

        <li class="nav-item"></li>
          <a class="nav-link active" aria-current="page" href="/logout/{{currentUser.id}}">Log out</a>
        </li>
        {{/if }}
        
        
      </ul>
    </div>
  </div>
  
</nav>