#img-logo{
  width: 100px;
  height: 100px;
}
.navbar {
  padding: 10px; 
  max-width: auto; 
  height: 55px; 
  margin: 0 auto; 
}

.navbar-toggler {
  border: none; 
}

.dropdown-menu {
  width: 300px; 
}

.navbar-nav {
  align-items: center; 
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; 
  }
}
.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto; 
}

.navbar-nav .nav-item {
  margin-left: 10px; 
}
.nav-link{
  color: white;
}
.navbar-user {
  display: flex;
  align-items: center;
 
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.navbar-user a {
  text-decoration: none;
  color: white;
}
