/* Color Theme Swatches in Hex */
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-1-hex { color: #033E8C; }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-2-hex { color: #048ABF; }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-3-hex { color: #F2B705; }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-4-hex { color: #D96704; }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-5-hex { color: #BF1304; }

/* Color Theme Swatches in RGBA */
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-1-rgba { color: rgba(2, 62, 140, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-2-rgba { color: rgba(3, 138, 191, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-3-rgba { color: rgba(242, 182, 4, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-4-rgba { color: rgba(216, 103, 4, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-5-rgba { color: rgba(191, 19, 3, 1); }

/* Color Theme Swatches in HSLA */
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-1-hsla { color: hsla(213, 96, 28, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-2-hsla { color: hsla(196, 96, 38, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-3-hsla { color: hsla(45, 96, 48, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-4-hsla { color: hsla(28, 96, 43, 1); }
.Venice-landmark,-Burano-island-canal,-colorful-houses-and-boats,-Italy-5-hsla { color: hsla(5, 96, 38, 1); }
