<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>conoXchange - Exchange Skills, Learn Together</title>
  <meta name="description"
    content="Connect with people to share knowledge and learn new skills through conoXchange skill exchange platform.">

  <!-- Material Symbols -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet" />

  <!-- Google Fonts - Outfit -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/style/output.css">

  <!-- Custom Styles (Legacy/Specific) -->
  <link rel="stylesheet" href="/style/variables.css">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/navbar.css">
  <link rel="stylesheet" href="/style/home.css">
  <link rel="stylesheet" href="/style/cardSearch.css">
  <link rel="stylesheet" href="/style/skillDetail.css">
  <link rel="stylesheet" href="/style/forms.css">
  <link rel="stylesheet" href="/style/auth.css">
  <link rel="stylesheet" href="/style/stars.css">

  <!-- Favicon -->
  <link rel="icon" href="/img/logo3.png" type="image/x-icon">

</head>

<body>
  <header>
    {{>navbar}}
  </header>

  <main>
    {{{body}}}
  </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/navbar.js"></script>
  {{>footer}}
</body>

</html>