 <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-m-12 text-center">
                <h1>Error 404</h1>
                <p>Are you lost?</p>
                <a class="btn btn-primary mt-3" href="/"> Home</a>
            </div>
        </div>
    </div>