<div class="container d-flex justify-content-center my-3 text-center" style=" width: 500px;" >
  
  <div style="height: 40%; width: 100%;">
    <img src="/img/logo.png" style="height: 100%; border: solid 1px; border-radius: 20px;" alt="logo">
   
  </div>
  
</div>

<!-- Tarjetas -->

<div class="container-fluid justify-content-around p-6 ">

  <div class="row  justify-content-around">

    <!-- Card 1 -->
     <div class="card P-1 col-md-3 col-12 m-4" style="border-radius: 20px;">
      <div class="" style="border: 0; border-radius: 20px;">
        <div class="card-body">
          <div class="container d-flex justify-content-between">
            <h5 class="card-title">Ana and Pablo</h5>
            <i class="fas fa-quote-left"></i>
          </div>
          <hr>
          <p class="card-text" style="font-size: 0.9em; margin-bo-5px">Hi, I'm Ana. Let me share my amazing conoXchange story. I met Pablo, a chef, and we
            exchanged Spanish for cooking lessons. It was transformative! I improved my Spanish and learned culinary
            skills. Together, we created delicious dishes, bonding over our shared passion. Thanks, conoXchange!.</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
     <div class="card P-1 col-md-4 m-4" style="border-radius: 20px;">
      <div class="" style="border: 0; border-radius: 20px;">
        <div class="card-body">
          <div class="container d-flex justify-content-between">
            <h5 class="card-title">Mia and Alex</h5>
            <i class="fas fa-quote-left"></i>
          </div>
          <hr>
          <p class="card-text">Hi, I'm Mia. I want to tell you about conoXchange. I met Alex, and we exchanged French
            for chess lessons. It was fantastic! As I helped Alex with French, he taught me chess strategies. Our
            friendship grew, and we became better players. conoXchange brought us together!</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card P-1 col-md-3 m-4" style="border-radius: 20px;">
      <div class="" style="border: 0; border-radius: 20px;">
        <div class="card-body">
          <div class="container d-flex justify-content-between">
            <h5 class="card-title">Marco and Sofia</h5>
            <i class="fas fa-quote-left"></i>
          </div>
          <hr>
          <p class="card-text">Hey, I'm Marco. Let me tell you about my conoXchange experience. I met Sofia, and we
            exchanged Italian for guitar lessons. It was incredible! Teaching her Italian while she taught me guitar
            techniques was enriching. Our bond strengthened through music, all thanks to conoXchange.</p>
        </div>
      </div>
    </div>
  </div>
</div>


