<h1>home</h1>

<div>
    <div>
        <a href="/register" type="button" class="btn btn-primary">Register<a>
    </div>
    <br/>
    <div>
        <a href="/login" type="button" class="btn btn-primary">Login</a>
    </div>
</div>